.pokedex {


  ol {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .pagination {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    button {
      background: #6c79bd;
      border: none;
      color: #fff;
      max-width: 150px;
      margin: 0 auto;
      width: 100%;
      border-radius: 50px;
      padding: 0.5rem 1rem;
      box-shadow: 0 2px 3px rgba(0, 0, 0, .3);

      &:hover {
        cursor: pointer;
        background: darken(#6c79bd, 8%);
      }
    }

  }



  .pokemons {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0.5rem;
    margin-bottom: 20px;

    @media screen and(min-width:576px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (min-width:992px) {
      grid-template-columns: repeat(4, 1fr);
    }

    .pokemon {
      padding: 1rem 0.5rem;
      border-radius: 5px;
      color: #fff;
      display: flex;
      flex-direction: column;

      &__name {
        margin-bottom: 0.25rem;
        text-transform: capitalize;
      }

      &__number {
        color: #000;
        opacity: 0.3;
        text-align: right;
        font-size: 0.625rem;
      }

      &__type {
        //background: rgba(white, .3);
        border-radius: 1rem;
        padding: 0.25rem 0.5rem;
        font-size: 0.625rem;
        margin: 0.25rem 0;
        text-align: center;
        min-width: 40px;

      }

      &__detail {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        img {
          border-style: none;
          max-width: 100%;
          height: 60px;
          transform: rotateY(180deg);
        }
      }
    }
  }

  li[poketype] {
    box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
  }

  $typeColorMap: (
    "normal": #A8A77A,
    "fire": #ee8130,
    "water": #6390f0,
    "electric": #f7d02C,
    "grass": #7AC74C,
    "ice": #96d9d6,
    "fighting": #C22e28,
    "poison": #A33eA1,
    "ground": #e2bf65,
    "flying": #A98ff3,
    "psychic": #f95587,
    "bug": #A6b91A,
    "rock": #b6A136,
    "ghost": #735797,
    "dragon": #6f35fC,
    "dark": #705746,
    "steel": #b7b7Ce,
    "fairy": #d685Ad,
    "unknown":#f4f4f4,
    "shadow":#341a62
  );

@each $type,
$color in $typeColorMap {
  li[poketype="#{$type}"] {
    background: $color;
  }

  .#{$type} {
    background: lighten($color, 10%);
  }
}

}